<div class="row" id="about">
    <div class="col-md-4 col-sm-8">
        <img class="img-responsive block-img fadingIn transparent" src="/Content/themes/wrap-bootstrap/img/1.jpg" alt="...">
    </div>
    <div class="col-md-4 col-sm-8">
        <div class="row">
            <div class="col-md-8 col-sm-8">
                <div class="block-hf block-sm fadingIn transparent">
                    <h2>The Cubic.</h2>
                    <p>
                        A brand new theme great for corporate websites and mobile apps.
                    </p>
                    <a href="#" class="btn btn-color"><i class="fa fa-info-circle"></i> Learn More...</a>
                </div>
            </div>
        </div> <!-- / .row -->
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <img class="img-responsive block-img fadingIn transparent" src="/Content/themes/wrap-bootstrap/img/5.jpg" alt="...">
            </div>
            <div class="col-md-4 col-sm-4">
                <img class="img-responsive block-img fadingIn transparent" src="/Content/themes/wrap-bootstrap/img/7.jpg" alt="...">
            </div>
        </div> <!-- / .row -->
    </div>
</div>