<div class="row" id="features">
    <div class="col-md-2 col-sm-4">
        <img class="img-responsive block-img fadingIn transparent" src="/Content/themes/wrap-bootstrap/img/4.jpg" alt="...">
    </div>
    <div class="col-md-2 col-sm-4">
        <div class="block block-sm bg-color fadingIn transparent">
            <h3>Fully Responsive Design</h3>
            <p>Looks great on all major browsers, tablets and phones.</p>
        </div>
    </div>
    <div class="col-md-2 col-sm-4">
        <img class="img-responsive block-img fadingIn transparent" src="/Content/themes/wrap-bootstrap/img/9.jpg" alt="...">
    </div>
    <div class="col-md-2 col-sm-4">
        <div class="block block-sm bg-color fadingIn transparent">
            <h3>Easy To Customize</h3>
            <p>Perfect for professionals and novice developers.</p>
        </div>
    </div>
</div> <!-- / .row-->
<div class="row">
    <div class="col-md-4 col-sm-8">
        <div class="block block-lg bg-color-dark fadingIn transparent">
            <h2>Built with LESS</h2>
            <p class="text-justify">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum placerat ullamcorper lectus, in euismod odio mollis id. In sit amet rutrum lectus. Aenean interdum elit eu tempus tristique. Duis nunc augue, scelerisque vitae sem vitae, pulvinar aliquam purus. Phasellus iaculis velit vitae facilisis porta. Phasellus magna enim, gravida non ligula ac, vulputate sagittis neque. Fusce eu dolor in nunc imperdiet sollicitudin. Aenean a lectus interdum ipsum vehicula dignissim eget ut justo. Curabitur tempor elit vehicula, dapibus tortor ac, volutpat odio. Phasellus nisl tellus, congue ac auctor eget, gravida at mi. Sed nec bibendum urna.
            </p>
        </div>
    </div>
    <div class="col-md-4 col-sm-8">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <img class="img-responsive block-img fadingIn transparent" src="/Content/themes/wrap-bootstrap/img/6.jpg" alt="...">
            </div>
            <div class="col-md-4 col-sm-4">
                <img class="img-responsive block-img fadingIn transparent" src="/Content/themes/wrap-bootstrap/img/2.jpg" alt="...">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <img class="img-responsive block-img fadingIn transparent" src="/Content/themes/wrap-bootstrap/img/3.jpg" alt="...">
            </div>
            <div class="col-md-4 col-sm-4">
                <img class="img-responsive block-img fadingIn transparent" src="/Content/themes/wrap-bootstrap/img/8.jpg" alt="...">
            </div>
        </div>
    </div>
</div>