@using GeoLib.Resources
<div class="wrapper" id="home">

    <!-- Navigation -->
    <i class="fa fa-bars fa-lg menu-trigger show" id="menu-open"></i>
    <i class="fa fa-bars fa-lg menu-trigger hidden" id="menu-close"></i>
    <i class="fa fa-bars fa-lg menu-trigger hidden" id="menu-dummy"></i>
    <div class="menu" role="navigation">
        <ul>
            <li class="hidden"><a href="#home" id="home-link" data-toggle="home-link" data-placement="left" title="Home"><i class="fa fa-home fa-lg"></i></a></li>
            @*<li class="hidden delay-1"><a href="#about" id="about-link" data-toggle="about-link" data-placement="left" title="About"><i class="fa fa-comments-o fa-lg"></i></a></li>
            <li class="hidden delay-2"><a href="#features" id="features-link" data-toggle="features-link" data-placement="left" title="Features"><i class="fa fa-cutlery fa-lg"></i></a></li>
            <li class="hidden delay-3"><a href="#portfolio" id="portfolio-link" data-toggle="portfolio-link" data-placement="left" title="Portfolio"><i class="fa fa-picture-o fa-lg"></i></a></li>*@
            <li class="hidden delay-4"><a href="#team" id="team-link" data-toggle="team-link" data-placement="left" title="Team"><i class="fa fa-users fa-lg"></i></a></li>
            <li class="hidden delay-5"><a href="#contact" id="contact-link" data-toggle="contact-link" data-placement="left" title="Contact"><i class="fa fa-envelope-o fa-lg"></i></a></li>
        </ul>
    </div>

    <!-- Welcome Message -->
    <div class="text animated fadeIn">
        <h1 class="animated bounceIn delay-1">@GeoRes.LocationService</h1>
        <hr class="animated fadeInUp delay-2">
        <p class="animated fadeInUp delay-3">@GeoRes.SeviceDescription</p>
        <a href="#" class="btn btn-glass animated flipInX delay-4">@GeoRes.PurchaseNow</a>
    </div> <!-- / .text -->
    <!-- Background -->
    <div class="wrapper-inner"></div>

</div> <!-- / .wrapper -->