<!-- Landing Image -->
@Html.Partial("Home", new { })

<div class="container">

    <div class="margin"></div>

    <!-- About Us -->
    @*@Html.Partial("About", new { })*@

    <!-- Main Features -->
    @*@Html.Partial("Features", new { })*@

    <!-- Portfolio -->
    @*@Html.Partial("Portfolio", new { })*@

    <!-- Our Team -->
    @Html.Partial("Team", new { })

    <!-- Contact Us -->
    @Html.Partial("Contacts", new { })

    <div class="row">
        <div class="col-md-8 col-sm-8">
            <p class="text-center">Copyright 2014 | All Rights Reserved.</p>
        </div>
    </div>

</div>