<div class="row" id="team">
    <div class="col-md-4 col-sm-8">
        <div class="block-hf block-sm bg-color fadingIn transparent">
            <h2>Meet Our Team</h2>
            <p>
                Any text
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2 col-sm-4">
        <div class="block block-sm bg-color-dark fadingIn transparent">
            <h3>Aidar Shamsutdinov</h3>
            <p>Founder</p>
            <a href="#" class="btn btn-glass"><i class="fa fa-envelope-o"></i> Contact</a>
        </div>
    </div>
    <div class="col-md-2 col-sm-4">
        <img class="img-responsive block-img fadingIn transparent" src="/Content/img/Aidar.jpg" alt="...">
    </div>
    <div class="col-md-2 col-sm-4">
        <div class="block block-sm bg-color-dark fadingIn transparent">
            <h3>Azat Buriev</h3>
            <p>Founder</p>
            <a href="#contact" class="btn btn-glass"><i class="fa fa-envelope-o"></i>Contact</a>
        </div>
    </div>
    <div class="col-md-2 col-sm-4">
        <img class="img-responsive block-img fadingIn transparent" src="/Content/img/AzatBuriev.jpg" alt="...">
    </div>
</div>