<div class="row" id="team">
    <div class="col-md-2 col-sm-4">
        <img class="img-responsive block-img fadingIn transparent" src="/Content/themes/wrap-bootstrap/img/15.jpg" alt="...">
    </div>
    <div class="col-md-2 col-sm-4">
        <div class="block block-sm bg-color-dark fadingIn transparent">
            <h3>John Doe</h3>
            <p>Founder</p>
            <a href="#" class="btn btn-glass"><i class="fa fa-envelope-o"></i> Contact</a>
        </div>
    </div>
    <div class="col-md-4 col-sm-8">
        <div class="block-hf block-sm bg-color fadingIn transparent">
            <h2>Meet Our Team</h2>
            <p>
                Vivamus sagittis leo at arcu rhoncus pharetra. Proin tincidunt nulla id nisi varius, id condimentum libero porttitor. Sed sollicitudin, nunc id elementum dapibus, diam diam suscipit massa.
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2 col-sm-4">
        <div class="block block-sm bg-color-dark fadingIn transparent">
            <h3>Richard Roe</h3>
            <p>Admin Team</p>
            <a href="#" class="btn btn-glass"><i class="fa fa-envelope-o"></i> Contact</a>
        </div>
    </div>
    <div class="col-md-2 col-sm-4">
        <img class="img-responsive block-img fadingIn transparent" src="/Content/themes/wrap-bootstrap/img/16.jpg" alt="...">
    </div>
    <div class="col-md-2 col-sm-4">
        <div class="block block-sm bg-color-dark fadingIn transparent">
            <h3>Judy Doe</h3>
            <p>Designer</p>
            <a href="#" class="btn btn-glass"><i class="fa fa-envelope-o"></i> Contact</a>
        </div>
    </div>
    <div class="col-md-2 col-sm-4">
        <img class="img-responsive block-img fadingIn transparent" src="/Content/themes/wrap-bootstrap/img/17.jpg" alt="...">
    </div>
</div>