<?xml version="1.0" encoding="utf-8" ?>

<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <alias alias="ILogger" type="RichGeobase.WebApi.ILogger, RichGeobase.WebApi" />
  <namespace name="MyApp.Implementations" />
  <assembly name="MyApp" />

  <container>
    <register type="RichGeobase.Address.Dto.ICountry, RichGeobase.Address" mapTo="RichGeobase.Address.CountryFake, RichGeobase.Address" />
  </container>

</unity>